page-filme-detalhe {
	.title.title-card {
		background-color: #A5D3F3;
		box-shadow: 6px 6px #B7B5B5;
		margin-bottom: 1.3rem;
	}

	.card {
		background-color: #C7C3F9;
	}

	img.icon {
		width: 2rem;
		float: left;	
		margin-right: 10px;
	}


	img.middle { vertical-align: middle; }
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
  box-sizing: border-box;
}


.date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #77B2D7;
  color: #fff;
  padding: 0.8em;
}
.date span {
  display: block;
  text-align: center;
}
.date .day {
  font-weight: 700;
  font-size: 24px;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}
.date .month {
  text-transform: uppercase;
}
.date .month,
.date .year {
  font-size: 12px;
}
}

