<!--
  Generated template for the FilmeDetalhePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ filme.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-card>
		<img src="https://image.tmdb.org/t/p/w500{{filme.backdrop_path}}">
	
	  <ion-card-content>
	  	<ion-title class="title-card" text-center>
	  		{{filme.title}}
	  	</ion-title>
	  	<button ion-button full round icon-right (click)="remFavorito()" *ngIf="favorito" color="danger">
	  		Remover dos favoritos
	  		<ion-icon name="star"></ion-icon>
	  	</button>
	  	<button ion-button full round icon-right (click)="addFavorito()" *ngIf="!favorito">
	  		Adicionar aos favoritos
	  		<ion-icon name="star"></ion-icon>
	  	</button>

	  	

		<p><b>Idioma Original:</b> {{filme.original_language}}</p>
		<p><b>Título Original:</b> {{filme.original_title}}</p>
		<p><b>Data de lançamento:</b> {{filme.release_date}}</p>
		<ion-title text-center>
			Sinopse 
		</ion-title> 
		<p text-justify>{{filme.overview}}</p>
		<p text-center *ngIf="filme.overview == ''">Não disponivel :c</p>
	  </ion-card-content>
	
	</ion-card>
	<!-- <ion-fab bottom right>
    <button ion-fab mini (click)="addFavorito()" *ngIf="!favorito">
    	<ion-icon name="star"></ion-icon>
    </button>

    <button ion-fab mini (click)="remFavorito()" *ngIf="favorito" color="danger">
    	<ion-icon name="star-outline"></ion-icon>
    </button>
  </ion-fab> -->
</ion-content>
