page-filme-detalhe {
	.title.title-card {
		background-color: #A5D3F3;
		box-shadow: 6px 6px #B7B5B5;
		margin-bottom: 1.3rem;
	}

	.card {
		background-color: #C7C3F9;
	}

	img.icon {
		width: 2rem;
		float: left;	
		margin-right: 10px;
	}


	img.middle { vertical-align: middle; }
}
